@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light{
    --bg-background-primary : white;
    --bg-background-secondary: #edf2f7;
    --bg-background-ternary: #e2e8f0;
    --text-copy-primary:#2d3748;
    --text-copy-ternary:#4a5568;
    /* --text-special: */
  }
  .theme-dark{
    --bg-background-primary : #1a202c;
    --bg-background-secondary: #2d3748;
    --bg-background-ternary: #4a5568;
    --text-copy-primary:#edf2f7;
    --text-copy-ternary:#e2e8f0;
  }

  .content-wrapper{
    transition: background-color .25s;
  }